img {
  float: left;
  width: auto;
  height: 200px;
  margin-right: 20px;
  padding-left: 2px;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: powderblue;
  margin: 12px;
  border: 10px solid black;
  padding: 4px;
}

.column {
  width: 300px;
  float: left;
}

.discography {
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 20px;
  float: left;
}
